bin
include
etc
lib
share
usr
Library
.Python
secrets
pickles
*.pyc
pgdata
.mypy_cache
__pycache__/
Pipfile*
LICENSE
README.rst
data-pipeline-base
automated_build.txt
.DS_Store
output.xlsx
credentials.json